* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 234, 250);
    color: #333;

    #message-de-bienvenue {
        display: flex;
        justify-content: center;

        .message-de-bienvenue {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            font-family: 'roboto';
            font-size: 1.2em;

        }
    }

    section:last-child {
        margin-bottom: 10vh;
        padding-bottom: 10vh;
    }

    .menu-menu-1-container {
        background-color: rgb(13, 9, 40);
        padding: 5vh;

        ul {
            display: flex;
            justify-content: space-around;


            a {
                font-size: 2rem;
                font-family: 'roboto';
                text-decoration: none;
                color: white;
                padding: 5vh;

            }

            a:hover {
                transition: 0.6s;
                background-color: white;
                color: #333;
            }


            li {
                list-style-type: none;
            }
        }

    }

    div {

        h1 {
            text-align: center;
            font-size: 10rem;
            font-family: 'roboto';
            margin-top: 10vh;

        }
    }

    #accueil {
        width: 100%;
        display: flex;
        justify-content: center;

        section {
            margin-top: 10vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: rgb(12, 13, 50);

            article {
                width: 90%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 14vh;

                div {
                    display: flex;
                    width: 21vw;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 100px;
                    background-color: aliceblue;
                    padding: 3vh;
                    border-radius: 3vh;

                    img {
                        border-radius: 3vh;
                    }

                    img:hover {
                        transition: 0.6s;
                        scale: 107%;
                    }

                    h2 {
                        margin-top: 2vh;
                    }

                    a {
                        margin-top: 2vh;
                        text-decoration: none;
                        color: #333;
                    }

                }
            }

        }

    }

    #main-article {
        display: flex;
        justify-content: center;
        align-items: center;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 3vh;
            background-color: rgba(201, 207, 255, 0.682);
            margin-top: 5vh;
            border-radius: 3vh;
            color: #333;
            font-family: 'roboto';
            gap: 3vh;

            #title-single {
                font-size: 4rem;
                padding: 2vh 0 2vh 0;
                color: #333;
            }

            h2 {
                color: #333;
                font-weight: 600;
            }

            img {
                border-radius: 3vh;
            }

            .wp-block-columns {
                width: 60vw;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50vh;

                a {
                    text-decoration: none;
                    color: #333;

                }

                a:hover {
                    color: rgb(106, 168, 255);
                }
            }

            .wp-block-group__inner-container {
                display: flex;
                flex-direction: column;
                gap: 3vh;
            }

            .wp-block-columns:last-child {
                margin-bottom: 10vh;
            }

            #button {
                background-color: white;
                border: none;
                width: 20%;
                padding: 3vh;
                border-radius: 1vh;

                a {
                    text-decoration: none;
                    padding: 3vh;
                }
            }

            #button:hover {
                background-color: rgb(34, 14, 136);
                transition: 0.6s;

                a {
                    transition: 0.6s;

                    color: white;
                }
            }
        }
    }

    #main-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            article {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    text-align: center;
                    font-size: 10rem;
                    font-family: 'roboto';
                    padding: 5vh 0 0 0;
                    // background-color: rgb(215, 217, 255);

                }

                #bloc1 {
                    // height: 150vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: 'roboto';
                    gap: 3vh;
                    // background-color: rgb(215, 217, 255);
                    // padding: 5vh 10vh 5vh 10vh;

                    figure {
                        width: 60%;
                        // height: 50vh;

                        img {
                            width: 100%;
                        }
                    }

                    p {
                        width: 80%;
                    }

                    .wp-block-columns {
                        width: 100vw;
                        background-color: rgba(201, 207, 255, 0.682);
                        color: #333;
                        padding: 10vh 0 10vh 0;

                        .bloc {

                            width: 100%;

                            .wp-block-group {
                                display: flex;
                                justify-content: center;

                                .wp-block-group__inner-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 80%;
                                    gap: 3vh;

                                    p:first-child {
                                        font-size: 2.5rem;
                                        padding: 2vh 5vh 0vh 0vh;
                                        color: #333;
                                        font-weight: 700;
                                    }

                                    .size-large {
                                        width: 90%;
                                    }

                                }
                            }
                        }
                    }

                    form {
                        margin-top: 10vh;
                        background-color: rgba(201, 207, 255, 0.682);
                        border-radius: 16px;
                        padding: 5vh;

                        input {
                            margin-bottom: 3vh;
                            padding: 16px;
                            border-radius: 8px;
                            border: none;
                        }

                        input::placeholder {
                            color: #333;
                        }

                        label {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                        }

                        textarea {
                            margin-bottom: 3vh;
                            border: none;
                            border-radius: 8px;
                        }

                        .wpcf7-submit {
                            padding: 2vh 4vh 2vh 4vh;
                            border-radius: 8px;
                            border: none;
                            background-color: rgb(34, 14, 136);
                            color: white;
                        }

                        .wpcf7-submit:hover {
                            transition: 0.6s;
                            background-color: rgb(12, 13, 50);
                            color: white;
                        }
                    }
                }
            }
        }
    }

    footer {
        margin-top: 10vh;
        background-color: rgb(13, 9, 40);
        padding: 5vh;
        color: white;
        text-align: right;
        font-family: 'roboto';
    }
}